{{ "<!-- contact -->" | safeHTML }}
<section class="section">
    <div class="container">
        <div class="row" style="height: 90vh">
            <div class="col">

              <a type="button" name="button" href='https://www.trycaviar.com/washington-dc/le-caprice-971?utm_medium=embeds&utm_source=marketing&utm_campaign=self-serve-dashboard-link&utm_term=washington-dc&utm_content=le-caprice-971&cav_medium=embeds&cav_source=le-caprice-971' alt='try caviar'> TRY</a>
				<script src='https://trycaviar.com/embed.js'></script><a class="caviar-embed-button" href="https://www.trycaviar.com/washington-dc/le-caprice-971" data-choose="true" data-color="Orange" data-shape="Button" data-campaign="self-serve-dashboard-link"></a><script type="text/javascript">sq.caviar.ButtonEmbed.transformAll()</script>
            </div>
        </div>
    </div><script src='https://trycaviar.com/embed.js'></script><a class='caviar-embed-menu' href=https://www.trycaviar.com/washington-dc/le-caprice-971>Order from Caviar</a><script type='text/javascript'>sq.caviar.MenuEmbed.transformAll()</script>
</section>
{{ "<!-- /contact -->" | safeHTML }}
