{{ if .Site.Params.about.enable }}
{{ "<!-- about -->" | safeHTML }}
<section class="about section-sm overlay" style="background-image: url('{{ .Site.Params.about.bgImage | absURL }}');">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ml-auto">
                <div class="rounded p-sm-5 px-3 py-5 bg-secondary">
                   {{ with .Site.Params.about.title }} <h3 class="section-title section-title-border-half text-white">{{ . }}</h3> {{ end }}
                   {{ with .Site.Params.about.description }} <p class="text-white mb-40">{{ . }}</p> {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- /about -->" | safeHTML }}
{{ end }}
