{{ partial "sar/header.html" . }}

{{ partial "navigation.html" . }}

{{ partial "hero-slider.html" . }}


{{ "<!-- service -->" | safeHTML }}
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h5 class="section-title-sm">Artisanal Work</h5>
                <h2 class="section-title section-title-border">From Our Oven</h2>
            </div>
            {{ range $index, $element:= where .Data.Pages "Type" "caprice" }}
            {{ if lt $index 9 }}
            {{ "<!-- service item -->" | safeHTML }}
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card text-center">
                    <a href="{{ .Permalink }}">
                    <h4 class="card-title pt-3">{{  .Params.ftitle }}</h4>
                    <div class="card-img-wrapper">
                        <img class="card-img-top rounded-0" src="{{ .Params.ftImage | absURL }}" alt="service-image">
                    </div>
                    <div class="card-body p-0">
                        <a href="{{ .Permalink }}" class="btn btn-secondary translateY-25"><i class="fa fa-paper-plane-o  fa-lg"></i></a>
                    </div>
                    </a>
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ "<!-- /service -->" | safeHTML }}
<section>{{ partial "cta.html" . }}</section>
{{ partial "front/hours.html" . }}


{{ partial "about.html" . }}

{{ partial "front/footer.html" . }}
